/* 
Shared Common text property
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}


#text_primary {
    color: #FD6E0A;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    font-weight: 700;
}

.about_title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.about-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 30px 150px;

}

/* Nav related styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 220px;
}

.nav_title {
    color: var(--dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
    /* line-height: normal; */
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

/* Header related styels */

.header {
    background: #FFF8F3;
    background-image: url('../Images/multiple_images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    /* background-image: url(../Images/multiple_images/developer.png);
    background-position: left top; */
}

.banner {
    /* padding: top right bottom left */
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner_body {
    width: 500px;
}

/* .banner_body {
    align-items: center;
}
*/

.banner_greeting {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner_name {
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* .banner-descript {
    margin-top: 50px;
} */

.banner_profile {
    width: 584px;
    padding-right: 50px;
}



/* Main Section Styles */

main {
    max-width: 1140px;
    margin: 0px auto;
}

/*  Section Related Styles */

.about {

    border-radius: 10px;
    background: #FFF8F3;
    padding: 131px 0px;
    margin-top: 130px;
    padding-top: 130px;
}

.about_info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 179px;
}


.info_tile {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0px;
}

.into_description {
    color: #474747;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 2px;
}

.what_i_do {
    margin: 130px 0px 130px 0px;
}

/* What Do Section Work */

.skill_container {
    display: flex;
    justify-content: space-between;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-right: 15px;
    padding: 10px 15px;
}

/* Resume Part  */

.part_concate {
    display: flex;
    justify-content: space-between;
    text-align: left;

}

.edu {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;

}

.part1 {
    margin-right: 160px;
}

.resume_description {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;


}

.resume_date {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;


}

.resume_content {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 50px;
    /* 175% */
}

.download_cv {
    text-align: center;
}



/* .resume_skill {
    padding: 15px 30px;
} */